.last-release
{
	color: $color-white;
	width: 100%;
	margin: auto;
	display: flex;

	@include tablette-only
	{
		flex-direction: column;			
	}

	@include mobile-only
	{
		margin-top: -50px;
	}

	&__blocleft
	{
		flex: 1;
		@include bloc-box;
		height: 400px;
		border-radius: 5px 0 0 0;
		text-align: center;
		position: relative;

		@include tablette-only
		{
			border-radius: 5px 5px 0 0;
		}
	}

	&__blocright iframe
	{
		flex: 2;
		width: 100%;
		height: 400px;
		border: 0;
	}

	&__heading
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -80%);

		@include tablette-only
		{
			position: relative;	
			transform: translate(-50%, -110%);

		}
	}

	&__blocright
	{
		flex: 2;

		@include tablette-only
		{
			flex: 1;	
		}
	}
}

.last-videos
{
	margin-bottom: 100px;

	@include mobile-only
	{
		margin-bottom: 50px;
	}

	&__rows
	{
		display: flex;
		margin-top: -4px;
		color: $color-white;

		&--flex-reverse
		{
			@include tablette-only
			{
				flex-direction: column-reverse;	
			}
		}

		&--flex-normal
		{
			@include tablette-only
			{
				flex-direction: column;
			}
		}
	}

	&__bloclarge
	{
		flex: 2;
		height: 400px;

		@include tablette-only
		{
			flex: 1;
		}

		@include mobile-only
		{
			height: 200px;
		}

		&--jungle
		{
			height: 450px;
		}
	}

	&__blocpetit
	{
		@include bloc-box;
		flex: 1;
		text-align: center;
		position: relative;
		height: 396px;

		&--jungle
		{
			height: 450px;
		}

		&--apropos
		{
			margin-top: 4px;
			border-radius: 0 0 5px 0;
			border-radius: 0;

			@include tablette-only
			{
				border-radius: 0;
			}
		}

		@include mobile-only
		{
			height: 200px;
		}
	}

	&__heading
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);

		&--jungle
		{
			transform: translate(-50%, -73%);
		}

		&--apropos
		{
			transform: translate(-50%, -80%);
		}

		@include tablette-only
		{
			position: relative;	
			transform: translate(-50%, -110%);
		}
	}

	&__txt
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 250%);
		font-family: $secondary-typo;
	}

	&__link
	{
		text-decoration: none;
		color: $color-white;

		@include tablette-only
		{
			display: none;
		}

		&::after
		{
			@include pseudo-pos;
			background-color: $color-white;
			clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0% 100%);
			transform: scaleX(0);
			margin-top: 5px;
			transition: transform 300ms;
		}

		&:hover::after
		{
			transform: scaleX(1);
		}

		&:focus::after
		{
			transform: scaleX(1);
		}
	}

	&__apropos
	{
		background-color: $color-white;
		color: $bloc-box-color;
		border-radius: 0 0 0 5px;

		@include tablette-only
		{
			height: auto;
			padding: 20px 0;
			border-radius: 0 0 5px 5px;
		}

		@include mobile-only
		{
			border: 5px solid $bloc-box-color;
		}
	}

	&__inset-border
	{
		padding: 10px;
		border: 2px solid $bloc-box-color;
		width: 90%;
		height: 80%;
		margin: auto;
		margin-top: 25%;
		transform: translateY(-50%);
		text-align: center;

		@include tablette-only
		{
			transform: translateY(0%);
			margin-top: 0;
		}

		@include mobile-only
		{
			border: 0;
		}
	}

	&__bio
	{
		width: 95%;
		margin: auto;
		line-height: 30px;
		font-family: $secondary-typo;
		font-size: 0.9em;
		text-align: justify;
	}

	&__img
	{
		margin-top: 10px;

	}
}

.last-videos iframe
{
	width: 100%;
	height: 100%;
	border: 0;
	@include mobile-only
	{
		height: 180px;
	}
	
}

.disco
{
	margin-bottom: 100px;

	&__row
	{
		display: flex;
		grid-gap: 20px;
		width: 100%;
		margin-bottom: 20px;

		@include tablette-only
		{
			display: grid;
			grid-template-columns: repeat(2, 1fr);	
		}

		@include mobile-only
		{
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__heading
	{
		display: none;

		@include mobile-only
		{
			display: block;
			text-align: center;
		}
	}

	&-card
	{
		flex:1;
		display: block;
		position: relative;

		&__img
		{
			width: 100%;
			border-radius: 5px;
			opacity: 1;
		}

		&__txt
		{
			position: absolute;
			color: $primary-color;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -80%);
			font-size: 2.1em;
			font-family: $secondary-typo;
			text-align: center;
			z-index: 11;
			opacity: 0;
			transition: opacity 500ms;

			@include tablette-only
			{	
				font-size: 1.7em;
			}

			&--medpos
			{
				transform: translate(-50%, -75%);
			}

			&--lowpos
			{
				transform: translate(-50%, -68%);
			}
		}

		&:hover &__txt
		{
			opacity: 1;
		}

		&::after
		{
			@include pseudo-pos;
			background-color: $color-white;
			height: 98.5%;
			z-index: 10;
			opacity: 0;
			border-radius: 5px;
			transition: opacity 500ms;
		}

		&:hover::after
		{
			opacity: 0.7;
		}

		&:hover::before
		{
			opacity: 1;
		}

		&:focus &__txt
		{
			opacity: 1;
		}

		&:focus::after
		{
			opacity: 0.7;
		}

		&:focus::before
		{
			opacity: 1;
		}
	}
}


.fb-page
{
	width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 100px;
}

.social-medias
{
	margin-bottom: 80px;
}



