.header
{
	@include header-image;
	height: 980px;

	@include desktop-only
	{
		width: auto;
	}

	@include tablette-only
	{
		height: 1024px;	
	}

	@include mobile-only
	{
		height: auto;
		background-attachment: fixed;
	}

	&__dropdown-btn
	{
		display: none;

		@include mobile-only
		{
			display: block;
			background-color: $color-white;
			position: absolute;
			top: -1000px;	

			&:checked ~ .header__list
			{
				display: block;
			}

			&:focus + &-label
			{
				outline: #00a1a1 auto 5px;
			}	
		}
	}

	&__dropdown-label
	{
		display: none;

		@include mobile-only
		{
			display: block;
			background-color: $bloc-box-color;
			font-size: 2em;
			color: $color-white;
			padding: .5em 1em;
			border: 2px solid transparent;

			&:hover, &:focus, &:active
			{
				border: 2px solid $color-white;
				border-bottom-color: transparent;
			}
		}
	}

	&__puces
	{
		&--mobile
		{
			display: none;

			@include mobile-only
			{
				display: inline-block;
			}
		}
	}

	&__list
	{
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		grid-gap: 100px;
		padding-top: 0;
		padding-left: 0;

		@include tablette-only
		{
			grid-gap: 20px;
		}

		@include mobile-only
		{
			display: none;
			background-color: $bloc-box-color;
			margin-top: -2px;
			line-height: 40px;
			padding-bottom: 20px;
			border: 2px solid $color-white;
			border-top-color: transparent;
			padding-left: 32px;
		}
	}

	&__link
	{
		text-decoration: none;
		text-transform: uppercase;
		color: $color-white;
		font-family: $secondary-typo;
		font-size: $link-font;
		position: relative;
		padding-bottom: 3px;

		&--underlined::after
		{
			@include pseudo-pos;
			background-color: $color-white;
			clip-path: polygon(0 94%, 100% 94%, 100% 100%, 0% 100%);
			transform: scaleX(0);
			transition: transform 300ms;
		}

		&--circled
		{
			@include mobile-only
			{
				display: none;
			}
		}

		&--circled::after
		{
			@include pseudo-pos;
			top: -210px;
			bottom: 90px;
			left: 75px;
			right: 75px;
			border:2px solid $color-white;
			border-top-color: transparent;
			border-bottom-color: transparent;
			border-radius: 50%;
			transform: rotate(0deg);
			opacity: 0;
			transition: all 300ms;
		}

		&--circled:hover::after
		{
			opacity: 1;
			transform: rotate(180deg);

			@include tablette-only
			{
				opacity: 0;
			}
		}

		&--circled:focus::after
		{
			opacity: 1;
			transform: rotate(180deg);

			@include tablette-only
			{	
				opacity: 0;
			}
		}

		&--underlined:hover::after
		{
			transform: scaleX(1);
		}

		&--underlined:focus::after
		{
			transform: scaleX(1);
		}
	}

	&__img
	{
		transform: scale(0.45);
		margin-top: -20px;

		@include tablette-only
		{
			margin-left: -80px;	
			margin-right: -80px;
		}
	}

	&__heading
	{
		text-align: center;
		margin-top: -20px;
		margin-left: 10px;

		@include desktop-xs-only
		{
			margin-top: 30px;
			margin-bottom: 200px;
		}

		@include tablette-only
		{
			margin-top: 110px;
			margin-bottom: 300px;
		}	
	}

	&__logo-mobile-link
	{
		display: none;

		@include mobile-only
		{
			display: block;
			width: 100%;
			margin: auto;
		}
	}

	&__logo-mobile-img
	{
		text-align: center;
		width: 100%;
		margin-top: 30px;
		margin-bottom: -20px;
	}

	&__btn
	{
		text-align: center;
		text-transform: uppercase;
		color: $color-white;
		width: 10%;
		margin: auto;
		margin-top: -30px;

		@include desktop-xs-only
		{
			margin-top: 0px;
		}

		@include tablette-only
		{
			width: 20%;
		}


		&:hover .header__chevrons
		{
			animation: header-btn 1500ms infinite ease-in-out;
		}

		@include mobile-only
		{
			display: none;
		}

	}

	&__txt
	{
		font-size: 1.8em;
	}

	&__chevrons
	{
		margin-top: -45px;
		font-size: 1.5em;
		margin-left: 2px;
	}
}

.active-title
{
	display: none;

	@include mobile-only
	{
		display: inline-block;
		font-family: $secondary-typo;
		margin-left: 80px;
		text-transform: uppercase;
	}
}

.header__link ~ html:active
{
	animation: fade-in 1s $loader-time forwards;
}

