.html
{
	position: relative;
	
	&::after
	{
		@include pseudo-pos;
		background-color: $color-white;
		z-index: 998;
		width: 100%;
		height: 100%;
		opacity: 1;
		animation: fade-out 1s $loader-time forwards;
	}
}

.loader
{
	z-index: 999;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	animation: fade-out 1s $loader-time forwards;

	&__container
	{
		width: 150px;
		height: 150px;
		margin: auto;
		margin-top: 50vh;
		transform: translateY(-60%);
		position: relative;
		border: 1px solid transparent;
	}

	&__element
	{
		position: absolute;
		top: 0;
		left: 10px;
		width: 120px;
		height: 120px;
		border: 3px solid $primary-color;
		border-right-color: transparent;
		border-left-color: transparent;
		border-radius: 50%;
		margin: auto;
		margin-top: 50%;
		transform: translateY(-50%) rotate(-45deg);
		animation: loader-rotate $loader-time forwards;

	}

	&__logo
	{
		width: 100px;
		height: 100px;
		margin: auto;
		margin-top: 50%;
		transform: translateY(-50%);

		&::after
		{
			@include pseudo-pos;
			background: $linear-gradient;
			width: 98px;
			height: 98px;
			margin: auto;
			mix-blend-mode: screen;
		}
	}

	&__img-blanc
	{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100px;
		height: 100px;
		animation: loader-circle $loader-time $loader-logo-delay forwards;
	}
}
