@font-face {
    font-family: 'sansation';
    src: url('../fonts/Sansation/Sansation-Regular-webfont.eot');
    src: url('../fonts/Sansation/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation/Sansation-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Sansation/Sansation-Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation/Sansation-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Bellerose';
font-style: normal;
font-weight: normal;
src: url('../fonts/Bellerose/Bellerose.woff') format('woff'),
	 url('../fonts/Bellerose/Bellerose.ttf') format('truetype');
}