.header-pages
{
	@include header-image;
	background-position: 0% 0%;
	height: 500px;

	&--contact
	{
		margin-top: -44px;
	}

	@include desktop-only
	{
		width: auto;
	}

	@include mobile-only
	{
		height: auto;
		background-attachment: fixed;
	}

	&__heading
	{
		font-size: 10em;
		margin-top: -70px;
		text-align: center;

		@include tablette-only
		{
			font-size: 6.5em;
		}
	}
}


.header__link
{
	&--active::after
	{
		@include pseudo-pos;
		background-color: $color-white;
		clip-path: polygon(0 94%, 100% 94%, 100% 100%, 0% 100%);
		transform: scaleX(1);
		transition: transform 300ms;
	}
}

.videos
{
	&__heading
	{
		visibility: hidden;
		position: absolute;
		top: -1000px;
	}
}



.videos-grid 
{
	width: $page-size;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	grid-gap: 20px;
	margin-top: 100px;
	margin-bottom: 100px;

	@include desktop-xs-only
	{
		width: 100%;
		justify-content: center;
	}

	@include tablette-only
	{
		flex-direction: column;
		justify-content: center;
		width: 90%;
	}

	@include mobile-only
	{
		margin-top: 20px;
	}

	& iframe
	{
		width: 580px;
		height: 290px;
		border-radius: 10px;
		border: 0;

		@include desktop-xs-only
		{
			width: 45%;
		}

		@include tablette-only
		{
			width: auto;	
		}
	}
}

.videos__link
{
	color: $color-white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $secondary-typo;
	text-align: center;
	position: relative;
	font-size: 1.1em;
	width: 11.4%;
	margin: auto;
	margin-bottom: 50px;
	padding-bottom: 3px;

	@include desktop-xs-only
	{
		width: 15%;
	}

	@include tablette-only
	{
		width: 30%;		
	}

	&--video
	{
		width: 7.4%;

		@include desktop-xs-only
		{
			width: 12%;
		}

		@include tablette-only
		{
			width: 24%;	
		}
	}

	&::after
	{
		@include pseudo-pos;
		background-color: $color-white;
		clip-path: polygon(0 94%, 100% 94%, 100% 100%, 0% 100%);
		transform: scaleX(0);
		transition: transform 300ms;
	}

	&:hover::after
	{
		transform: scale(1);
	}
}
